body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.login-container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.login-container .image-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-container .form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto; /* Permettre un scroll si nécessaire */
}

.login-container .logo {
    width: 200px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.login-container h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.login-container form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container .form-group {
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

.login-container input{
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #111;
    outline: none;
    box-sizing: border-box;
}

.login-container .input-icon {
    position: relative;
    width: 100%;
}

.login-container .input-icon img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.login-container .input-icon input {
    width: calc(100% - 10px);
    padding: 12px 10px 12px 40px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #111;
    outline: none;
    box-sizing: border-box;
}

.login-container .input-icon input:focus {
    border-bottom: 1px solid #FF7B00;
}

.login-container .login-button {
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    font-size: 1em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.login-container .login-button:hover {
    background: #333333;
}

.login-container .error-message,
.login-container .success-message {
    font-size: 0.9em;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}

.login-container .error-message {
    color: red;
    background-color: #fddcdc;
    border: red 2px solid;
}

.login-container .success-message {
    color: green;
    background-color: #dffddc;
    border: green 2px solid;
}

/* Responsive design */
@media (max-width: 1100px) {
    .login-container {
        flex-direction: column;
    }

    .login-container .image-container {
        flex: 1;
        height: 40vh; /* Réduire la hauteur */
        max-height: 40vh;
    }

    .login-container .background-image {
        object-fit: cover;
    }

    .login-container .form-container {
        flex: 1;
        height: auto;
        padding: 15px;
    }

    .login-container .logo {
        width: 150px; /* Réduction pour plus petit écran */
    }

    .login-container h1 {
        font-size: 1.2em;
    }

    .login-container .login-button {
        font-size: 0.9em;
        padding: 10px;
    }

    .login-container .input-icon input {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .login-container .form-container {
        padding: 10px;
    }

    .login-container h1 {
        font-size: 1.1em;
    }

    .login-container .login-button {
        font-size: 0.8em;
        padding: 10px;
    }

    .login-container .input-icon img {
        width: 18px;
        height: 18px;
    }

    .login-container .input-icon input {
        font-size: 0.85em;
    }
}

@media (max-width: 480px) {
    .login-container .image-container {
        display: none;
    }

    .login-container .form-container {
        width: 90%;
        padding: 15px;
    }

    .login-container h1 {
        font-size: 1em;
    }

    .login-container .login-button {
        font-size: 0.8em;
        padding: 12px;
    }
}

.login-links {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 1.8;
}

.login-links span {
    color: #6b6b6b;
    display: inline;
}

.login-links a {
    color: #FF7B00;
    text-decoration: none;
}

.login-links a:hover {
    text-decoration: underline;
}

