body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.register-container {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
}

.image-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

.logo-register {
    width: 30%;
    min-width: 120px;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.2em;
    text-align: center;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.input-icon {
    position: relative;
    width: 100%;
}

.input-icon img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.input-icon input {
    width: calc(100% - 10px);
    padding: 12px 10px 12px 50px;
    font-size: 0.9em;
    border: none;
    border-bottom: 1px solid #111;
    outline: none;
    box-sizing: border-box;
}

.input-icon input:focus {
    border-bottom: 1px solid #FF7B00;
}

.password-validation {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    font-size: 0.8em;
    width: 100%;
}

.password-validation li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.password-validation li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.password-validation li.valid {
    color: green;
}

.password-validation li.invalid {
    color: red;
}

@keyframes shake {
    0% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(7px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 1s;
}

.register-button {
    margin-top: 25px;
    width: 100%;
    padding: 1.2em;
    font-size: 0.9em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.register-button:hover {
    background: #333333;
}

.register-link a {
    color: #FF7B00;
    text-decoration: none;
}

.register-links {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.8;
}

.register-links span {
    color: #6b6b6b;
}

.register-links a {
    color: #FF7B00;
    text-decoration: none;
}

.register-links a:hover {
    text-decoration: underline;
}
@media (max-width: 1100px) {
    .register-container {
        flex-direction: column;
    }

    .image-container {
        height: 40vh;
        overflow-y: auto;
    }

    .background-image {
        height: 20%;
        width: 100%;
        object-fit: cover;
    }

    .form-container {
        height: 60vh;
        overflow-y: auto;
        padding-top: 30%;
    }

    h1 {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .register-button {
        font-size: 0.9em;
        padding: 12px;
    }

    .input-icon img {
        width: 18px;
        height: 18px;
    }

    .input-icon input {
        font-size: 0.85em;
    }
}


/* Styles pour la visibilité des mots de passe */
.toggle-visibility-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .image-container {
        display: none;
    }

    .form-container {
        padding: 20px;
    }

    h1 {
        font-size: 1em;
    }

    .register-button {
        font-size: 0.8em;
        padding: 10px;
    }

    .input-icon img {
        width: 20px;
        height: 20px;
    }

    .input-icon input {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .image-container {
        display: none;
    }

    .form-container {
        width: 90%;
        padding: 15px;
        overflow-y: auto;
    }

    h1 {
        font-size: 1em;
    }

    .register-button {
        font-size: 0.8em;
        padding: 12px;
    }
}
