@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins-font/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body, html, input, button, select, textarea, h1, h2, h3, h4, h5, h6, p, a, span, div, label, form, ul, li {
  font-family: 'Poppins', sans-serif;
}
